.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-tagsinput-tag {
  background-color: #eeeeee;
  border-radius: 5px;
  border: 1px solid #eee;
  color: #808080;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}
.react-tagsinput {
  font-size: 12px;
  border-radius: 3px;
}
.react-tagsinput--focused {
  border-color: #ccc;
}
.react-tagsinput input {
  font-size: 12px;
}

.page-container {
  padding: 20px;
  width: 1600px;
  box-sizing: border-box;
  max-width: calc(100% - 20px);
  margin: 0 auto;
}
.page-container .page-container {
  padding: 0;
  width: auto;
  max-width: none;
  margin: 0;
}

body #root {
  font-family: "Cabin", "Mukta", sans-serif;
}
body #root h1,
body #root h2,
body #root h3 {
}

.page-width-container {
  width: 1600px;
  max-width: calc(100vw - 40px);
  margin-right: auto;
  margin-left: auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #333;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.lds-ellipsis {
  margin: auto auto;
  display: inline-block;
  position: relative;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
body.dark-theme .lds-ellipsis div {
  background: #ddd;
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

body:not(.dark-theme) {
  background: white;
  color: #333;
}
body:not(.dark-theme) .light-theme-only {
  display: inherit;
}
body:not(.dark-theme) .dark-theme-only {
  display: none;
}
body:not(.dark-theme) .dark-theme .dark-theme-only {
  display: inherit;
}
body:not(.dark-theme) .dark-theme .light-theme-only {
  display: none;
}

body.dark-theme {
  background: #2f3136;
  color: #f2f2f2;
}
body.dark-theme .light-theme-only {
  display: none;
}
body.dark-theme .dark-theme-only {
  display: inherit;
}
body.dark-theme .light-theme .light-theme-only {
  display: inherit;
}
body.dark-theme .light-theme .dark-theme-only {
  display: none;
}