@font-face {
    font-family: 'sharp_groteskbook_25';
    src: url('./sharpgrotesk-book25-webfont.woff2') format('woff2'),
         url('./sharpgrotesk-book25-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}